$_strong-cyan: hsl(171, 66%, 44%);
$_light-blue: hsl(233, 100%, 69%);

$_dark-grayish-blue: hsl(210, 10%, 33%);
$_grayish_blue: hsl(201, 11%, 66%);

$_white-color: #fff;

$primary-color: $_strong-cyan;
$secondary-color: $_light-blue;

$bg_color: $_white-color;
$button-color-light: $_white-color;

$text-primary-color: $_strong-cyan;
$text-light-gray-color: $_grayish_blue;
$text-dark-gray-color: $_dark-grayish-blue;

$text-white-color: $_white-color;
