$font-family: "Bai Jamjuree", sans-serif;

$_font-base: 18;

$fs-base: $_font-base;

$_fs-17: calc(16.9 / $_font-base) + rem;
$_fs-18: calc(18 / $_font-base) + rem;
$_fs-24: calc(24 / $_font-base) + rem;
$_fs-30: calc(30 / $_font-base) + rem;
$_fs-32: calc(32 / $_font-base) + rem;

$fs-title-l: $_fs-32;
$fs-title-m: $_fs-30;
$fs-title-s: $_fs-24;
$fs-text-s: $_fs-17;
$fs-text-m: $_fs-18;
