.footer .container {
  display: flex;
  row-gap: 2rem;
  flex-direction: column;

  @include media-size("m") {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $bg-gray;

  @include media-size("l") {
    .container {
      max-width: $max-width-medium;
    }
  }

  &__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;

    @include media-size("m") {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 50%;
    }
  }

  &__right {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
  }

  &__attribution {
    text-align: center;
    flex-basis: 100%;
  }
}
