.hero-section {
  background-image: url("/assets/images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 7rem;

  .logo {
    margin-bottom: 3rem;
  }
}
