.section-powerby .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;

  > * {
    max-width: toRem(150);
  }

  @include media-size("m") {
    flex-direction: row;
    justify-content: space-between;
    max-width: $max-width-medium;
  }
}
